# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/

# Entorno virtual
venv/
env/

# Credenciales y configuración sensible
.env
*.env
secrets/

# Logs
logs/
*.log

# Docker
postgres_data/

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# Archivos internos PostgreSQL sueltos en raíz
[0-9]*
pg_filenode.map
pg_hba.conf
pg_ident.conf
postgresql.conf
postgresql.auto.conf
postmaster.opts
postmaster.pid
PG_VERSION

# Backups
docker-compose_bk*.yml
dags/_duplicados_bk/
__init__.py
flybackDW-etl-airflow/